<div class="global_nav">
<span class="nav_bar">
<a href='/task/new_task'>create new task</a> * 
<a href='/todolist/new'>create new todolist</a> * 
<a href='/todolist/active'>my active todolists</a> * 
<a href='/todolist/complete'>completed todolists</a>
<hr width='100%' />
</span>
</div>
