[% META title = 'Need New Password' %]

<form action="/user/send_new_password" method=post>
username: <input type="text" name="username"><br />
<input type="Submit" name="Reset Password" value="Reset Password">
</form>

<br />

