[%#-
LICENSE

This file is part of ProjectTaskToDo.

ProjectTaskToDo is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ProjectTaskToDo is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with ProjectTaskToDo.  If not, see <http://www.gnu.org/licenses/>.
-%]


[% META title = 'ProjectTaskToDo : About' %]

[% IF Catalyst.user %]
	[% INCLUDE authenticated_navbar.tt %]
[% ELSE %]
	[% INCLUDE unauthenticated_navbar.tt %]
[% END %]

<h2>See our <a href="[% Catalyst.uri_for("/lessons_learned") %]">Lessons Learned</a></h2>

<h2>Credits</h2>
<p>
The ProjectTaskToDo was written by William B. Hauck.  The system utilizes the following technologies (in no particular order):
</p>

<p>
<a href="http://www.cpan.org">Perl and CPAN</a><br />
One of the best programming languages I've ever used.  (Only behind Ada! :)<br />
Special thanks to all the contributors to CPAN.<br />
Special shoutout to the DBIx::Class folks!  Your ORM rocks!
</p>

<p>
The <a href="http://www.catalystframework.org">Catalyst</a> application framework for Perl.<br />
<a href="http://www.catalystframework.org">http://www.catalystframework.org</a><br />
Without Catalyst I'd still be writing 50-condition <code>if</code> statements.
</p>

<p>
The <a href="http://search.cpan.org/~ribasushi/DBIx-Class-0.08250/lib/DBIx/Class.pm">DBIx::Class</a> object-relational mapper for Perl.<br />
</p>

<p>
<a href="http://www.gnu.org">GNU</a><br />
Without the toolmakers there would be no tools.
</p>

<p>
<a href="http://www.vim.org">VI Improved</a><br />
All templates, web pages, and code were handwritten using Vim.
</p>

<p>
<a href="http://www.slackware.com">Slackware Linux</a><br />
To Patrick and the whole gang a big <strong>Thank you!</strong>
I've run Slackware from 2.2 all the way to 12 on various machines--current is a very tired Dell Inspiron 5100.
</p>

<p>
<a href="http://www.mysql.com">MySQL</a><br />
The MySQL RDBMS is easy to setup and use.  The system provides amazing performance.
</p>

<p>
<a href="http://httpd.apache.org">The Apache HTTP Server</a><br />
Without this amazing webserver I'd be writing my own user interfaces.
</p>

<p>
<a href="http://perl.apache.org">mod_perl</a><br />
Like Reese's did with peanut butter and chocolate, mod_perl brings two great things together.
</p>

<p>
<a href="http://www.mattkruse.com/javascript/calendarpopup">Calendar Popup (date picker)</a><br />
by <a href="http://www.mattkruse.com">Matt Kruse</a><br />
A very handy utility, making date entry easy.
</p>

<p>
<a href="http://www.kryogenix.org/code/browser/sorttable/">SortTable (version 2)</a> by <a href="http://www.kryogenix.org">Stuart Langridge</a><br />
An excellent and very handy script.  Sort data instantly by any column!
</p>
<br />
