<!--
LICENSE

This file is part of ProjectTaskToDo.

ProjectTaskToDo is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ProjectTaskToDo is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with ProjectTaskToDo.  If not, see <http://www.gnu.org/licenses/>.
-->


<div class="global_nav">
[% IF error -%]
<div>
[% error %]
</div>
[% END -%]

<span class="user_label" id="sitetitle">
[% IF Catalyst.user -%]
<a href='/person/[% Catalyst.user.id %]'>
[% Catalyst.user.full_name %] ([% Catalyst.user.username %])<br />
<a href='/help'>help</a> <a href="[% Catalyst.uri_for('/logout') %]">logout</a>
[% END -%]
</a>
</span>
<ul class='dropdown'>
	<li class='dropdown_trigger'>
		<a href='/'>home</a>
	</li>
</ul>
<ul class='dropdown'>
	<li class='dropdown_trigger'>
		<a href='/person/[% Catalyst.user.id %]'>person</a>
	<ul>
		<li><a href='/person/add'>add new person</a></li>
		<li><a href='/person/list'>list all people</a></li>
		<li><a href='/person/search'>search people</a></li>
	</ul>
	</li>
</ul>
<ul class='dropdown'>
	<li class='dropdown_trigger'>
		<a href='/organization/new'>organizations</a>
	<ul>
		<li><a href='/organization/new'>add new organization</a></li>
		<li><a href='/organization/list'>list all organizations</a></li>
		<li><a href='/organization/search'>search organization</a></li>
	</ul>
	</li>
</ul>
<ul class='dropdown'>
	<li class='dropdown_trigger'>
		<a href='/task/today'>tasks</a>
	<ul>
		<li><a href='/task/today'>today's tasks</a></li>
		<li><a href='/task/my_active'>my active tasks</a></li>
		<li><a href='/task/my_complete'>my complete tasks</a></li>
		<li><a href='/task/new_task'>create new task</a></li>
		<li><a href='/task/search'>search tasks</a></li>
	</ul>
	</li>
</ul>
<ul class='dropdown'>
	<li class='dropdown_trigger'>
		<a href='/project/active'>projects</a>
		<ul>
			<li><a href='/project/my_active'>my active</a></li>
			<li><a href='/project/my_complete'>my complete projects</a></li>
			<li><a href='/project/all_active'>all active projects</a></li>
			<li><a href='/project/all_complete'>all complete projects</a></li>
			<li><a href='/project/new'>create new project</a></li>
			<li><a href='/project/search'>search projects</a></li>
		</ul>
	</li>
</ul>
<ul class='dropdown'>
	<li class='dropdown_trigger'>
		<a href='/timepalette'>time palette</a>
	</li>
</ul>
<ul class='dropdown'>
	<li class='dropdown_trigger'>
		<a href='/report'>reports</a>
	</li>
</ul>
<ul class='dropdown'>
	<li class='dropdown_trigger'>
		<a href='/note'>notes</a>
		<ul>
			<li><a href='/note'>new note</a></li>
			<li><a href='/note/my_all'>all my notes</a></li>
			<li><a href='/note/my_personal'>my personal notes</a></li>
			<li><a href='/note/my_public'>my public notes</a></li>
			<li><a href='/note/all_public'>all public notes</a></li>
			<li><a href='/note/search'>search</a></li>
		</ul>
	</li>
</ul>
</div>
</div>
<br clear='all' />
</div>
